/* cartStyles.css */

.cartName {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.outerDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.outerDiv div {
  width: 30%;
}

.bodyDiv ul {
  list-style: none;
  padding: 0;
}

.bodyDiv li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.itemImage img {
  width: 30px;
  margin-right: 10px;
}

.itemImage {
  display: flex;
  align-items: center;
}

.itemPrice,
.itemQuantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.itemQuantity button {
  margin: 0 5px;
}

.totalDiv {
  padding: 10px 20px;
  font-weight: bold;
  text-align: right;
}

.closeBtn {
  display: inline;
  margin-left: 20%;
  margin-right: 30%;
  margin-bottom: 20%;
}

.orderBtn {
  display: inline;
  margin-bottom: 20%;
}
