h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

h3 {
  position: relative;
  left: 200px;
}

img {
  margin-top: 40px;
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(0.8);
}

p {
  position: relative;
  left: 200px;

  display: inline;
}
