.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.image {
  width: 30%;
}

.image img {
  left: 50%;
  width: 50%;
  height: auto;
  display: block;
}

.text {
  width: 50%;
  padding: 20px;
}
