.mainDiv {
  background-color: #1478d3;
}

.logoutBtn,
.brand,
.nav {
  /* style={{ color: "#ffffff", textDecoration: "none" }} */
  color: #ffffff;
  text-decoration: none;
}

.logoutBtn {
  position: relative;
  top: 0px;
}
